<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Administración Slider</title>
</head>
<body>
	<section>
		<article>
			
		</article>
		
		<article>
			
		</article>

		<article>
			
		</article>
	</section>
</body>
</html>