<form action="controllers/insert.php" method="post" enctype="multipart/form-data">
	<input type="text" name="title" placeholder="Título">
	<input type="text" name="description" placeholder="Descripción">
	<input type="file" name="image[]" placeholder="Ruta de la imágen">
	<input type="submit" name="submit" value="Agregar">
</form>