<table border="1px">
		<tr>
			<th>ID</th>
			<th>TITULO</th>
			<th>DESCRIPCION</th>
			<th>IMAGEN</th>
			<th>EDITAR</th>
			<th>BORRAR</th>
		</tr>
	<?php
		if ($slider_s->consulta->num_rows >0) 
		{
			while($registro = $slider_s->consulta->fetch_assoc())
			{
				echo "
					<tr>
						<td>".$registro['id_imagen']."</td>
						<td>".$registro['titulo']."</td>
						<td>".$registro['descripcion']."</td>
						<td><img src='".$registro['image_port']."' style='width:150px;'/></td>
						<td><a href='controllers/update.php?id=".$registro['id_imagen']."'>EDITAR</a></td>
						<td><a href='controllers/delete.php?id=".$registro['id_imagen']."'> borrar </a></td>					</tr>
				";
			}
		}
		else{
			echo "no existen registros";
		}

	?>	
</table>